<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">
    <resultMap type="Blog" id="BlogMapw">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="old" column="old"/>
    </resultMap>
    <select id="selectBlog" resultType="Blog">
        select id,name from Blog where id = #{id}
    </select>
</mapper>