<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:configTest.properties"/>
    <!--<context:property-override location="classpath:configTest.properties"/>-->

    <util:map id="courses">
        <entry key="english" value="100"/>
        <entry key="computer" value="99"/>
        <entry key="science" value="100"/>
    </util:map>

    <util:list id="listUtil" list-class="java.util.ArrayList" value-type="cn.zsy.eg.spring.beans.UserBean">
        <bean id="userBean123" class="cn.zsy.eg.spring.beans.UserBean" p:name="xieshihuilove" p:sex="nan" p:school="2222"
              p:old="11" p:course-ref="courses"/>
        <bean id="userBean124" class="cn.zsy.eg.spring.beans.UserBean" p:name="xieshihuilove" p:sex="nan" p:school="lllllll"
              p:old="11" p:course-ref="courses"/>
        <ref bean="userBean12"/>
    </util:list>

    <bean id="userBean" class="cn.zsy.eg.spring.beans.UserBean">
        <property name="name" value="${user}"/>
        <property name="sex" value="nan1111"/>
        <property name="school" value="beijing"/>
        <property name="old" value="27"/>
        <property name="course" ref="courses"/>
    </bean>

    <!-- spring工具类 方便在非spring管理环境中获取bean -->
    <bean id="springUtils" class="cn.zsy.eg.spring.SpringUtils"/>

    <bean id="userBean12" class="cn.zsy.eg.spring.beans.UserBean" p:name="xieshihuilove" p:sex="nan" p:school="lllllll"
          p:old="11" p:course-ref="courses"/>

    <bean id="userBean13" class="cn.zsy.eg.spring.beans.UserBean" p:name="xieshihuilove" p:sex="nan" p:school="lllllll"
          p:old="111" p:course-ref="courses" depends-on="courses"/>

    <bean id="userBean1" class="cn.zsy.eg.spring.beans.UserBean">
        <constructor-arg index="0" value="xieshihui"/>
        <constructor-arg index="1" value="nv"/>
        <constructor-arg index="2" value="xian"/>
        <constructor-arg index="3" value="26"/>
    </bean>

    <bean id="car" class="cn.zsy.eg.spring.beans.Car" p:colord="red" p:number="0000"/>

    <bean id="person" class="cn.zsy.eg.spring.beans.Person" p:name="#{'redwwww1'}" p:sex="#{T(java.lang.Math).PI}"
          p:car-ref="car"
          depends-on="car" init-method="init"/>

    <bean id="person1" class="cn.zsy.eg.spring.beans.Person">
        <property name="name" value="#{'www2'}"/>
        <property name="sex" value="#{userBean.sex}"/>
        <property name="car" value="#{car}"/>
    </bean>

    <!-- 后置处理器BeanPostProcessor -->
    <bean class="cn.zsy.eg.spring.MyBeanPostProcessor"></bean>

</beans>