<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:configTest.properties"/>
    <!--<context:property-override location="classpath:configTest.properties"/>-->

    <bean id="userBean" class="cn.zsy.eg.spring.beans.UserBean">
        <property name="name" value="${user}"/>
        <property name="sex" value="nan"/>
        <property name="school" value="beijing"/>
        <property name="old" value="27"/>
        <property name="course">
            <map>
                <entry key="english" value="100"/>
                <entry key="computer" value="99"/>
                <entry key="science" value="100"/>
            </map>
        </property>
    </bean>

    <bean id="userBean1" class="cn.zsy.eg.spring.beans.UserBean">
        <constructor-arg index="0" value="xieshihui"/>
        <constructor-arg index="1" value="nv"/>
        <constructor-arg index="2" value="xian"/>
        <constructor-arg index="3" value="26"/>
    </bean>

</beans>